@tailwind base;
@tailwind components;
@tailwind utilities;

.card{
    width: 300px;
}

.scrollbar::-webkit-scrollbar {
    margin-top: 255px;
    height: 15px;
}
.scrollbar::-webkit-scrollbar-track {
    border-radius: 10vh;
    background: #ffffff7d;
}
  
.scrollbar::-webkit-scrollbar-thumb {
    background: #249cc1;
    border-radius: 100vh;
    border: 3px solid #277ce4;
}
  
.scrollbar::-webkit-scrollbar-thumb:hover {
    background: #242d4d;
}


.Members {
    background-color: #1a202c;
    color: white;
    min-height: 100vh;
  }
  
  .contenedor {
    margin: 0 auto;
    padding: 2rem;
  }
  
  input[type="text"] {
    width: 300px;
  }
  
  .card {
    transition: transform 0.2s;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  